CHROME_DRIVER_PATH=C:\Users\Moésio\Desktop\Nova Scrapper\chromedriver.exe
CHROME_USER_DATA_DIR=
CHROME_PROFILE_DIRECTORY=Default
MAX_PROCESSOS_POR_SESSAO=1000
DELAY_ENTRE_PROCESSOS=0.5
SECRET_KEY=your-secret-key-here