# Ambiente virtual
venv/
env/
ENV/

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Arquivos de ambiente
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos de dados
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep

# Logs
*.log